<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Disease Detection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/upload.css">
</head>

<body>
    <h1>Leaf Disease Detection</h1>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 text-center shadow-lg animated-card">
            <h3 class="custom">Upload Files</h3>
            <div class="drop_box py-3 mt-3">
                <header>
                    <h4 class="text-primary">Select File here</h4>
                </header>
                <p class="text-muted">Files Supported: JPEG, PNG</p>
                <form id="uploadForm" action="/result" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" hidden accept=".jpeg,.jpg,.png" id="fileID">
                    <button class="btn btn-primary btn-lg rounded-pill" type="button" id="uploadButton">
                        <i class="fas fa-upload"></i> Choose File
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const uploadButton = document.getElementById('uploadButton');
            uploadButton.addEventListener('click', function () {
                document.getElementById('fileID').click();
            });

            document.getElementById('fileID').addEventListener('change', function () {
                document.getElementById('uploadForm').submit();
            });
        });
    </script>
</body>
</html>
